{% extends "final/layout.html" %}
{% load static %}

{% block body %}


<section class="section section-no-background section-no-border m-none">

    <div class="container">

        <div class="contact-box box-element event-organize">
            <div class="contact-content">

                <div class="row mb-xl">
                    <div class="col-md-6">
                        <h3 class="mb-none pb-none text-uppercase">Write or call us</h3>
                        <div class="divider divider-primary divider-small mb-xl mt-none">
                            <hr class="mt-sm">
                        </div>
                        <p class="mt-lg">
                            Duis elementum ipsum vitae magna auctor porta. Mauris viverra sagittis porta. Vestibulum porta sem id mi gravida tempor. Etiam id vestibulum enim. </p>
                        <p>We are open:<br>
                            <br> mon-fr: 13:00 – 22:00
                            <br> weekends: 12:00 – 21:00
                        </p>
                        
                    </div>
                    <div class="col-md-6">
                        <img src="/static/final/IMG/slides/w3.jpg" style="width: 100%; margin-bottom: 30px;" alt="">

                        <div class="rodo-content">
                        <div class="-mt-xl -center clearfix">
                            
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}